name: Print GitHub Context

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  print-context:
    runs-on: ubuntu-latest

    steps:
      - name: Print github context
        run: |
          echo "GITHUB CONTEXT:"
          echo '${{ toJson(github) }}'
